{% if is_granted('ROLE_ADMIN') %}
    <nav class="admin__content-block navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <p class="navbar-text navbar-left"><a target="_blank" href="{{ path('sonata_admin_dashboard') }}" class="navbar-link">Панель администрирования</a></p>

            {% if contentBlockAdminPanelCustomLinks is defined %}
                {{ contentBlockAdminPanelCustomLinks|raw }}
            {% endif %}

            <p class="navbar-text"><a href="{{ path('sonata_user_admin_security_logout') }}" class="navbar-link">Выйти</a></p>

            <p class="navbar-right">
                {% if app.request.get('contenteditable') %}
                    {% set currentPath = path(
                    app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')
                    ) %}

                    <a href="{{ currentPath }}" class="btn btn-success navbar-btn">Вернуться в режим просмотра</a>
                    <button type="button" class="btn btn-success navbar-btn js-admin-save-content">Сохранить изменения</button>

                {% else %}
                    {% set currentPath = path(
                    app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')|merge({'contenteditable': '1'})
                    ) %}

                    <a href="{{ currentPath }}" class="btn btn-success navbar-btn">Перейти в режим редактирования</a>
                {% endif %}
            </p>
        </div>
    </nav>

{% endif %}
